

a:hover {
  color: #8B4513;
  transform: scale(1.1);
}

nav {
  margin-bottom: 20px;
}

.section-about {
  height: 640px;
  background: url(../img/b593b059721489.5a2d34f05cf99.jpg) center/cover no-repeat fixed;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.section-about__box-first {
  width: 420px;
  height: 300px;
  background: linear-gradient(180deg, #F4D5B2CC 0%, #EA9C41CC 100%);
  position: absolute;
  top: 6%;
  left: 52%;
  font-size: 45px;
}

.section-about__box-second {
  width: 420px;
  height: 300px;
  background: linear-gradient(180deg, #F4D5B2CC 0%, #EA9C41CC 100%);
  position: absolute;
  top: 6%;
  left: 77%;
  font-size: 45px;
}