body {
  background-color: #ffe2b0;
}

header {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.one {
  
}

.two {
  
}